<div class="card">
    <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
            <mat-card-title class="mat-card-title">
                Thank you!
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
            Thank you for playing the game.
            <br>
            <br>
            <span style="font-weight: bold;">Ever tried. Ever failed. No matter. Try Again. Fail
                again. Fail better.</span>

            - <span style="font-style: italic; font-weight: bold;">Samuel Beckett</span>
        </mat-card-content>
    </mat-card>
</div>