#container {
  height: 280px;
  width: 950px;
  // border: black 1px solid;
  position: relative;
}

.instruction-container {
  height: 200px;
  width: 500px;
  border: 1px solid #36454F;
  padding: 10px;
  // box-shadow: 5px 10px #888888;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  position: relative;
}

.instruction{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}

.level {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:  #0e5b8e;
}

.mat-action-row {
  display: flex;
  direction: column;
}

.mat-action-row button{
  display: block;
  margin: 5px;
  // direction: column;
  //position: absolute;
  // left : 20px;
  // top : 50px;
}

.timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #0e5b8e;
}

.red-1 {
  font-size: 24px; 
}

.red-2 {
  font-size: 20px; 
}

.red-3 {
  font-size: 16px; 
}

.red-4 {
  font-size: 12px; 
}

.red-5 {
  font-size: 10px; 
}

.blue-1 {
  font-size: 24px; 
  background-color: #0000FF !important;
}

.blue-2 {
  font-size: 20px; 
  background-color: #0000FF !important;
}

.blue-3 {
  font-size: 16px; 
  background-color: #0000FF !important;
}

.blue-4 {
  font-size: 12px; 
  background-color: #0000FF !important;
}

.blue-5 {
  font-size: 10px; 
  background-color: #0000FF !important;
}

.green-1 {
  font-size: 24px; 
  background-color: #008000 !important;
  color: #fff !important;
}

.green-2 {
  font-size: 20px;
  background-color: #008000 !important;
  color: #fff !important;
}

.green-3 {
  font-size: 16px; 
  background-color: #008000 !important;
  color: #fff !important;
}

.green-4 {
  font-size: 12px; 
  background-color: #008000 !important;
  color: #fff !important;
}

.green-5 {
  font-size: 10px; 
  background-color: #008000 !important;
  color: #fff !important;
}