<h1 mat-dialog-title class="dialog-header"> Let's get started! </h1>
<div mat-dialog-content class="dialog-content">
    <h3>Instructions</h3>
    <ul>
        <li>On the next screen, there are 3 buttons, each button has a different color </li>
        <li>On the bottom there is an instruction box which will tell you on every click which button has to be clicked
        </li>
        <li>There will be 5 levels in total, on each level button size will become smaller</li>
        <li>If you click on a wrong button, then game over</li>
        <li>Let's get started!</li>
    </ul>
    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input required matInput [(ngModel)]="data.name">
    </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-action" align="center">

    <button mat-raised-button ngClass="{{data.name ? 'btn' : ''}}" [disabled]="!data.name"
        [mat-dialog-close]=" data.name" cdkFocusInitial>
        Start </button>

</div>